html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "FT88 Gothique";
  src: url("./fonts/FT88-Gothique.woff2") format("woff2"),
    url("./fonts/FT88-Gothique.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FA_KJNZEIIUUL";
  src: url("./fonts/FA_KJNZEIIUUL.woff2") format("woff2"),
    url("./fonts/FA_KJNZEIIUUL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "FT88";
  src: url("./fonts/FT88-Italic.woff2") format("woff2"),
    url("./fonts/FT88-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FT88";
  src: url("./fonts/FT88-Bold.woff2") format("woff2"),
    url("./fonts/FT88-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
